<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="nivo-slider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen"/>
</head>

<body>

<div id="slider-wrapper">
         <div id="slider" class="nivoSlider">
            <img src="imagens/banner1.png" width="960px" height="280px" alt="Otimização de Sites"/>
            <img src="imagens/banner2.png" width="960" height="280" alt="Telecomunicações"/>
            <img src="imagens/imagem3.jpg" width="960" height="280" alt="Contratos de Manutenção"/>
            <img src="imagens/imagem4.jpg" width="960" height="280" alt="Desenvolvimento WEB"/>
         </div>
</div>
    
	
	<script type="text/javascript" src="scripts/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
    $('#slider').nivoSlider();
    });
    </script>

</body>

</html>


