#tnt_pagination {
	display:block;
	text-align:right;
	height:22px;
	line-height:21px;
	clear:both;
	padding-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}

#tnt_pagination a:link, #tnt_pagination a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #0E809C;
	margin-left:10px;
	text-decoration:none;
	background-color:#0E809C;
	color:#FFF;
	width:22px;
	font-weight:bold;
}

#tnt_pagination a:hover {
	background-color:#FFF;
	border:1px solid #CACACA;
	color:#0E809C;
}

#tnt_pagination .active_tnt_link {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #0E809C;
	margin-left:10px;
	text-decoration:none;
	background-color:#FFF;
	color:#0E809C;
	cursor:default;
}

#tnt_pagination .disabled_tnt_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #FFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0E809C;
	cursor:default;
}
